body {
    background-color: #CBB677;
    color: white;
}

nav {
    background-color: #450084;
    color: white;

}


img {
    width: 17%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

  .buttons {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;


  }

  button {
    font-size: 40px;
    color:#333333;
    background-color: #DACCE6;
    border-radius: 10px;
    padding: 10px;
  }

  .cards {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    color: #333333;
    margin-top: 10%;
 }

 .card {
    padding: 10px;
    background-color: #B599CE;
    border-radius: 20px;
 }

 .card a {
     font-size: larger;
     color: black;
 }

 .card a:hover{
     color: white;
 }

 .displaybox {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 1280px;
     height: 720px;
     background-color: gray;
 }

/* Add CSS styles for the popups */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B599CE;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 20px;
    color: #333333;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* Style the form */
#loginForm,
#createAccountForm {
    margin-top: 10px;
}
#loginForm input,
#createAccountForm input {
    margin-bottom: 10px;
    padding: 5px;
}
