/* CSS style page for all pages */
body {
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Cambria;
}

nav {
    background-color: #450084;
    color: white;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}


nav img {
    height: 150px;
    margin: 0;

}

nav .logo-container {
    display: flex;
    align-items: center;
}

nav .welcome-message {
    color: white;
    font-size: 16px;
}

.page-title {
    font-size: 30px;
}

  .buttons {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;

    
  }

  button {
    font-size: 40px;
    color:#333333;
    background-color: #DACCE6;
    border-radius: 10px;
    padding: 10px;
  }

  .cards {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 40px;
    color: #333333;
    margin-top: 10%;
 }

 .card {
    padding: 10px;
    background-color: #B599CE;
    border-radius: 20px;
 }

 .card a {
     font-size: larger;
     color: black;
 }

 .card a:hover{
     color: white;
 }

label {
    font-size: 35px;
    padding-right: 10px;
    padding-left: 25px;
}

#x, #submit {
    font-size: 25px;
    margin-left: 15px;
}

select {
    height: 35px;
    width: 75px;
}

.addedit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#schedule-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*#add {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 25px;
    margin-bottom: 10px;
}

#edit {
    display: inline;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 200px;
    margin-bottom: 10px;
} */

/* Add CSS styles for the popups */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #B599CE;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 20px;
    color: #333333;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* Style the form */
#loginForm,
#createAccountForm {
    margin-top: 10px;
}
#loginForm input,
#createAccountForm input {
    margin-bottom: 10px;
    padding: 5px;
}


@media (max-width:800px) {

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        display: flex;
        align-items: center;
    }

}

.feeding-buttons-container {
    display: flex;
    justify-content: flex-start;

    height: 100vh;
}

.feeding-buttons-box {
    width: 1000px;
    height: 115px;
    background-color: #450084;
    border: 1px solid #450084;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}

.camera-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.camera-buttons-box {
    width: 1000px;
    height: 125px;
    background-color: #450084;
    border: 1px solid #450084;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}


.ms-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ms-buttons-box {
    width: 1000px;
    height: 125px;
    background-color: #450084;
    border: 1px solid #450084;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;

}