/* CSS style page for all pages - Created by Tim and Aubrey */
body {
    background-color: #333333;
    color: white;
    margin: 0;
    padding: 0;
    font-family: Arial;

    min-height: 100vh;
}

nav {
    background-color: #450084;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid #fff;
    z-index: 1000;

}

nav img {
    height: 150px;
    margin: 0;
    display: flex;
    justify-content: flex-start;

}

nav .welcome-message {
    color: white;
    font-size: 16px;
}



#leftBox {
    width: 600px;
    background-color: #450084;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #fff;
    display: flex;
}
.welcome-text {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}



.feeding-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: 25%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;

}

.status-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
}

.camera-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
}

/* CSS to show text on hover for each button box */
.feeding-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.status-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.camera-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.on-demand-button-box {
    position: fixed;
    top: calc(50%);
    left: 35%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.scheduled-button-box {
    position: fixed;
    top: calc(50%);
    left: 65%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.on-demand-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.scheduled-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.pause-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: 75%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.start-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: 20%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.pause-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.start-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.pause-camera-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(50% - 25% - 12.5px);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.start-camera-button-box {
    position: fixed;
    top: calc(50% + 300px);
    left: calc(90% + 12.5px);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    background-color: #450084;
    white-space: nowrap;
}

.pause-camera-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.start-camera-button-box:hover::before {
    content: attr(data-text);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: max-content;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}






/* Button code; Created by Aubrey Simpson */
  .buttons {
    display: flex;
    gap: 3em;
    align-items: center;
    justify-content: flex-end;
    padding: 5px;
  }

  button {
    font-size: 40px;
    color:white;
    background-color:#333333 ;
    border-radius: 10px;
      border-color: white;
    padding: 10px;
      margin-left: 10px;
      font-family: Arial;
  }

  

label {
    font-size: 35px;
    padding-right: 10px;
    padding-left: 25px;
}

/* Code for scheduled feeding page buttons and containers; created by Aubrey Simpson */
#x, #submit {
    font-size: 25px;
    margin-left: 15px;
}

select {
    height: 35px;
    width: 75px;
}

.addEdit {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

#scheduleTableContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    text-align: center;
}

#scheduleTableContainer table {
    border-collapse: collapse;
    margin: 0 auto;
}
#scheduleTable th,
#scheduleTable td {
    border: 2px solid white;
    padding: 8px;
    background-color: #450084;
    font-size: 20px;
}

.user-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
}

#user-title {
    font-size: 24px;
    color: white;
}

/* Add CSS styles for the popups */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: calc(50%);
    transform: translate(-50%, -50%);
    background-color: #450084;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 20px;
    font-size: 16px;
    color: white;

}

.loginPopup {
    width: 310px;
    height: 350px;

}

.createAccountPopup {
    width: 1400px;
    height: 175px;
}

.addEditPopup {
    width: 1400px;
}


#loginPopup input[type="text"],
#loginPopup input[type="password"] {
    width: 300px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    font-size: 16px; /* Optionally adjust the font size */

}

#loginPopup h2 {
    font-size: 40px;
    font-family: Arial;
}

#createAccountPopup input[type="text"],
#createAccountPopup input[type="email"],
#createAccountPopup input[type="password"] {
    width: 200px;
    height: 40px;
    font-size: 16px;
}

.popup a:visited {
    color: inherit;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

/* Style the form */
#loginForm,
#createAccountForm {
    margin-top: 10px;
    flex-direction: column;
}
#loginForm input,
#createAccountForm input {
    margin-bottom: 10px;
    padding: 5px;
    flex-direction: column;

}





/* Media queries; created by Aubrey Simpson */
@media (max-width:800px) {

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h1 {
        display: flex;
        align-items: center;
    }

    #cameraFeed {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
    }




}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1000;
    display: none;
}

.popup.open {
    display: block;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-group input {
    width: 200px;
    margin-bottom: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    .input-group input {
        width: 100%;
    }
}

/* Media query for larger screens */
@media screen and (min-width: 601px) {
    .login-form {
        max-width: 400px; /* Adjust the maximum width as needed */
        margin: 0 auto; /* Center the form horizontally */
    }
}

select {
    height: 50px;
    width: 75px;
    font-size: 16px;
}

.userInfo {
    font-size: 16px;
    color: white;
    margin-bottom: 10px;
}



#logout {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

#logout:hover {
    background-color: #d32f2f;
}



